{
  "parser": "babel-eslint",
  "rules": {
    "arrow-spacing": 2,
    "brace-style": 2,
    "camelcase": 2,
    "eol-last": 2,
    "indent": [2, 2],
    "linebreak-style": 2,
    "comma-spacing": 2,
    "comma-style": 2,
    "array-bracket-spacing": 2,
    "computed-property-spacing": 2,
    "key-spacing": 2,
    "object-curly-spacing": 2,
    "no-cond-assign": 0,
    "no-const-assign": 2,
    "no-extra-parens": 2,
    "no-multi-spaces": 2,
    "no-trailing-spaces": 2,
    "no-var": 2,
    "prefer-const": 2,
    "semi": 2,
    "semi-spacing": 2,
    "keyword-spacing": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "quotes": [2, "single"]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended"
}
