[submodule "vendor/selector-set"]
	path = vendor/selector-set
	url = https://github.com/josh/selector-set
[submodule "vendor/jquery-selector-set"]
	path = vendor/jquery-selector-set
	url = https://github.com/josh/jquery-selector-set
[submodule "vendor/WeakMap"]
	path = vendor/WeakMap
	url = https://github.com/Polymer/WeakMap
[submodule "vendor/classList.js"]
	path = vendor/classList.js
	url = https://github.com/components/classList.js
